.form-group select {
    height: 38px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.form-group select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.btn-style {
    width: 100%;
    height: 40px;
    text-align: left;
}